.pismo{
	padding-top: 45px;
	text-align: center;
	font-size: 45px;
	margin-bottom: 15px
}

.booy{
	border: #FFFFFF 2px;
}
.text-02{
	font-size: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 20px
}
.text-01{
	margin-top: 5px;
	margin-bottom: 20px
}
.name{
	margin-top: 20px;
}
.email{
	margin-top: 20px;
}
.message{
	margin-top: 20px;
}
.box-01{
	text-align: center;
	background: #E8B533;
	font-family: fill;
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 2px;
}
.box-02{
	text-align: center;
	background: #E8B533;
	font-family: fill;
	font-size: 30px;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.box-03{
	width: 85%;
	font-family: fill;
	font-size: 30px;
	line-height: 30px;
	height: 200px;
}

.logo2{
	margin-bottom: -4px
}
.pol1{
	margin-top: 2px;
}
.pol2{
	margin-bottom: 2px;
}
.pol3{
	margin-top: 4px;
}
.pott{
	text-align: center;
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 2px;
}
.pot1{
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	text-align: center;
   width: 100%;
}

.pot2{
	background: #E8B533;
	margin-top: 4px;
	margin-bottom: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	text-align: center;
   width: 100%;
}

.pot3{
	margin-top: 4px;
	margin-bottom: 2px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	text-align: center;
   width: 100%;
}
@media (max-width: 1000px){
	.pot1{ 
display: none;		
}	
}
@media (min-width: 1000px){
	.pot2{ 
display: none;		
}	
}
@media (max-width: 650px){
	.pot2{ 
display: none;		
}	
}
@media (min-width: 650px){
	.pot3{ 
display: none;		
}	
}
.lop1111{
	margin-top: 2px;
	margin-bottom: 4px;
}


.lop1{
	margin-top: 2px;
	margin-bottom: 2px;
}
.lop11{
	margin-top: 2px;
	margin-bottom: 4px;
}
.lop2{
	margin-top: 2px;
}
.box-liner-01-111{
	width: 100%;
	height: 80px;
	margin-bottom: 2px;
	margin-top: 2px;
	background: url(../img/big-slogo/contacts.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #E8B533;
	padding-bottom: 5px;
	padding-top: 5px;
	background-size: contain;
}
.box-liner-01-11{
	width: 100%;
	height: 80px;
	margin-bottom: 2px;
	margin-top: 2px;
	background: url(../img/big-slogo/contacts.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #E8B533;
	background-size: contain;
	
}
.box-liner-01-1{
	width: 100%;
	height: 80px;
	margin-bottom: 2px;
	margin-top: 2px;
	background: url(../img/big-slogo/contacts.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #E8B533;
	background-size: contain;
}

.fill-1{
	height: 340px;
	font-size: 25px;
	font-family:fill;
	line-height: 25px;
	text-align: center;
    text-indent: 25px;
}
.fill-2{
	width: 340px;
	height: 340px;
	display: inline-block;
	font-size: 25px;
	font-family:fill;
	line-height: 25px;
	text-align: justify;
    text-indent: 25px;
	background: url(../img/fill.jpg);
	background-size: cover;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
}
.fill-3{
	width: 900px;
	height: 340px;
	display: inline-block;
	font-size: 30px;
	font-family:fill;
	line-height: 30px;
	text-align: justify;
    text-indent: 25px;

}
.fill-11{
	height: 360px;
	font-size: 25px;
	font-family:fill;
	line-height: 25px;
	text-align: center;
    text-indent: 25px;
	display: inline-block;
}
.fill-22{
	width: 300px;
	height: 360px;
	display: inline-block;
	font-size: 25px;
	font-family:fill;
	line-height: 25px;
	text-align: justify;
    text-indent: 25px;
	background: url(../img/fill.jpg);
	background-size: cover;
	float: left;
	margin-right: 10px;
	border-radius: 10px;
}
.fill-33{
	width: 550px;
	height: auto;
	display: inline-block;
	font-size: 30px;
	font-family:fill;
	line-height: 30px;
	text-align: justify;
    text-indent: 25px;

}
.fill-111{
	height: 360px;
	font-size: 25px;
	font-family:fill;
	line-height: 25px;
    text-indent: 25px;
	text-align: center;
}
.fill-222{
	width: 250px;
	height: 300px;
	display: inline-block;
	font-size: 25px;
	font-family:fill;
	line-height: 25px;
	text-align: center;
    text-indent: 25px;
	background: url(../img/fill.jpg);
	background-size: cover;
	background-position: center;
	margin: 15px;
	border-radius: 10px;
}
.fill-333{
	width: auto;
	height: auto;
	display: inline-block;
	font-size: 25px;
	font-family:fill;
	line-height: 25px;
	text-align: justify;
    text-indent: 25px;
	background:#E8B533;
	margin-left: 5px;
    margin-right: 5px;
	padding-bottom: 20px
}
.box-liner-contact-on{	
	width: 100%;
	height: auto;
	background: #E8B533;
	text-align: center;
}

.box-liner-contact-1{
	text-align: center;
	background: #E8B533;
	display: inline-block
}
.box-contact-1{ 
	max-width: 230px;
	min-width: 230px;
	height: 230px;
	display: inline-block;
	margin: 5px;
	border-radius: 15px;
	background: url(../img/bootons/vk1.svg);
	background-size: contain;
	border: solid 4px;
}
.box-contact-1:hover{
	background-color: #F15A24;
}
.box-contact-2{ 
	max-width: 230px;
	min-width: 230px;
	height: 230px;
	display: inline-block;
	margin: 5px;
	border-radius: 15px;
	background: url(../img/bootons/vk2.svg);
	background-size: contain;;
	border: solid 4px;
}
.box-contact-2:hover{
	background-color: #F15A24;
}
.box-contact-3{ 
	max-width: 230px;
	min-width: 230px;
	height: 230px;
	display: inline-block;
	margin: 5px;
	border-radius: 15px;
	background: url(../img/bootons/FIIVK.svg);
	background-size: contain;
	border: solid 4px;
}
.box-contact-3:hover{
	background-color: #F15A24;
}
.box-contact-4{ 
	max-width: 230px;
	min-width: 230px;
	height: 230px;
	display: inline-block;
	margin: 5px;
	border-radius: 15px;
	background: url(../img/bootons/SUO.svg);
	background-size: contain;
	border: solid 4px;
}
.box-contact-4:hover{
	background-color: #F15A24;
}
.box-contact-5{ 
	max-width: 230px;
	min-width: 230px;
	height: 230px;
	display: inline-block;
	margin: 5px;
	border-radius: 15px;
	background: url(../img/bootons/roi.svg);
	background-size: contain;
	border: solid 4px;
}
.box-contact-5:hover{
	background-color: #F15A24;
}
.box-contact-6{ 
	max-width: 230px;
	min-width: 230px;
	height: 230px;
	display: inline-block;
	margin: 5px;
	border-radius: 15px;
	background: url(../img/bootons/Fill.svg);
	background-size: contain;
    border: solid 4px;
}
.box-contact-6:hover{
	background-color: #F15A24;
}
.box-contact-7{ 
	max-width: 230px;
	min-width: 230px;
	height: 230px;
	display: inline-block;
	margin: 5px;
	border-radius: 15px;
	background: url( ../img/bootons/karjala.-1.svg);
	background-size: contain;
	border: solid 4px;
}
.box-contact-7:hover{
	background-color: #F15A24;
}
.box-contact-8{ 
	max-width: 230px;
	min-width: 230px;
	height: 230px;
	display: inline-block;
	margin: 5px;
	border-radius: 15px;
	background: url(../img/bootons/wik.svg);
	background-size: contain;
	background-color: #E8B533;
	border: solid 4px;
}
.box-contact-8:hover{
	background-color: #F15A24;
}
.box-liner-contact-px{	
	width: 100%;
	height: auto;
	background: #E8B533;
	text-align: center;
	padding: 20px 0 20px 0
}
.box-contact-11{ 
	max-width: 140px;
	min-width: 140px;
	height: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background: url(../img/bootons/vk1.svg);
	background-size: contain;
	border: solid 2px;
}
.box-contact-11:hover{
	background-color: #F15A24;
}
.box-contact-22{ 
	max-width: 140px;
	min-width: 140px;
	height: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background: url(../img/bootons/vk2.svg);
	background-size: contain;
	border: solid 2px;
}
.box-contact-22:hover{
	background-color: #F15A24;
}
.box-contact-33{ 
	max-width: 140px;
	min-width: 140px;
	height: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background: url(../img/bootons/FIIVK.svg);
	background-size: contain;
	border: solid 2px;
}
.box-contact-33:hover{
	background-color: #F15A24;
}
.box-contact-44{ 
	max-width: 140px;
	min-width: 140px;
	height: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background: url(../img/bootons/SUO.svg);
	background-size: contain;
	border: solid 2px;
}
.box-contact-44:hover{
	background-color: #F15A24;
}
.box-contact-55{ 
	max-width: 140px;
	min-width: 140px;
	height: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background: url(../img/bootons/roi.svg);
	background-size: contain;
	border: solid 2px;
}
.box-contact-55:hover{
	background-color: #F15A24;
}
.box-contact-66{ 
	max-width: 140px;
	min-width: 140px;
	height: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background: url(../img/bootons/Fill.svg);
	background-size: contain;
	border: solid 2px;
}
.box-contact-66:hover{
	background-color: #F15A24;
}
.box-contact-77{ 
	max-width: 140px;
	min-width: 140px;
	height: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background: url( ../img/bootons/karjala.-1.svg);
	background-size: contain;
	border: solid 2px;
}
.box-contact-77:hover{
	background-color: #F15A24;
}
.box-contact-88{ 
	max-width: 140px;
	min-width: 140px;
	height: 140px;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background: url(../img/bootons/wik.svg);
	background-size: contain;
	background-color: #E8B533;
	border: solid 2px;
}
.box-contact-88:hover{
	background-color: #F15A24;
}
.box-liner-contact-pxx{	
	width: 100%;
	height: auto;
	background: #E8B533;
	text-align: center;
	padding: 20px 0 20px 0;
}
.box-liner-contact{	
	text-align: center;
	height: auto;
	background: #E8B533;
	margin-bottom: 4px;
	margin-top: 2px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.podpis-6-1{
	font-size: 25px;
	font-family:fill;
	line-height: 25px;
	text-align: justify;
    text-indent: 25px;
	width: 100%;
}
.podpis-6-2{
	height: 60px;
	font-size: 30px;
	font-family:fill;
	line-height: 55px;
	text-align: center;
	width: 100%;
    text-indent: 25px;
}
.podpis-6-3{
	height: 50px;
	font-size: 25px;
	font-family:fill;
	line-height: 45px;
	text-align: center;
	width: 100%;
    text-indent: 25px;
}
.podpis-6-3{
	height: 50px;
	font-size: 25px;
	font-family:fill;
	line-height: 45px;
	text-align: center;
	width: 100%;
    text-indent: 25px;
}